*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Sora", serif;
  color: black;
  max-width: 550px;
  height: 550px;
  margin: 0 auto;
  padding: 0;
}

button,
select,
input[type="color"] {
  font-family: "Sora", serif;
  height: 42px;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  cursor: pointer;

  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type="color"] {
  width: 60px;
}

select {
  color: black;
  padding-left: 10px;
}

select > option {
  color: black;
}

button {
  color: #000000;
  font-size: 12px;
  width: 50%;
  grid-column: 2;
  grid-row: 2;
}

.color-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 1em;
  row-gap: 0.5em;
  align-items: center;
  padding: 1em;
  margin: 0.5em 0;
}

.color-palette {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1em;
}

.color-column {
  width: 100%;
  height: 150px;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
}

.hex-box {
  width: 100%;
  padding-top: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
